<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
  <meta charset="UTF-8">
  <title>Archiwum</title>
</head>
<body>
<section layout:fragment="" content="">
  <ul>
    <li th:each="task: ${tasks}">
            <span th:text="|${task.id} ${task.name} ${task.category.description} ${task.finished}|"
                  th:value="${task.finished}"></span>
    </li>
  </ul>
</section>
</body>
</html>