<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Archiwum</title>
</head>
<body>
<section layout:fragment="" content="">
    <ul>
        <li th:each="task: ${tasks}">
            <span th:text="|${task.id} nazwa: ${task.name}, kategoria: ${task.category.description}, etap:|"></span>
            <span th:if="${task.finished == true}">Ukończone</span>
            <span th:unless="${task.finished == true}">Do zrobienia</span>
        </li>
    </ul>
</section>
</body>
</html>