<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section layout:fragment="" content="">
    <div class="row">
        <div class="col-2">
            <a th:href="@{/archives}">archiwum zadań</a>
        </div>
        <div class="col-2">
            <a th:href="@{/add}">dodawanie zadania</a>
        </div>
    </div>

    <ul>
        <li th:each="task: ${tasks}">
            <span th:text="|${task.id} nazwa: ${task.name}, kategoria: ${task.category.description}, etap:|"></span>
            <span th:if="${task.finished == true}">Ukończone</span>
            <span th:unless="${task.finished == true}">Do zrobienia</span>
            <a th:href="|/edit?id=${task.id}|">edytuj</a>
            <form method="post" th:action="|/done?id=${task.id}|">
                <input type="submit" id="button" value="Zrobione">
            </form>
        </li>
    </ul>
</section>
</body>
</html>